
*.csv
*.xls
*.txt
*.pdf
MachineLearning/DeepLearnig/.ipynb_checkpoints/Single Layer Percept_전복고리수-checkpoint.ipynb
MachineLearning/DeepLearnig/.ipynb_checkpoints/이진판단_천체의 펄서 여부 판정 신경망-checkpoint.ipynb
MachineLearning/DeepLearnig/.ipynb_checkpoints/Single_Layer_Percept_전복고리수-checkpoint.ipynb
